@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-family: Verdana;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cracker {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: transparent;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.crackerImg {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.rotate {
    animation: rotation 60s infinite linear;
  }
  
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.moneyScore {
    position: absolute;
    color:rgb(209, 176, 136);
    font-size: 70px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.upgradeCracker {
  position: absolute;
  left: auto;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}



#upgradeCrackerPanel {
  position: absolute;
  height: 70vh;
  width: 20%;
  background-image: url("images/13a4c92f36ba46ca84fff587d8f6dde2.jpg");
  border: 5px white solid;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
  #upgradeCrackerPanelPhone {
  position: absolute;
  height: 70vh;
  width: 20%;
  background-image: url("images/13a4c92f36ba46ca84fff587d8f6dde2.jpg");
  border: 5px white solid;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
}

@media only screen and (orientation: portrait) {
  #isPhone {
    color: green
  }
}

@media only screen and (orientation: landscape) {
  #isPhone {
    color: red
  }
}


@keyframes upgradeCrackerOpen {
  100% {
    right: 21%;
  }
}
@keyframes upgradeCrackerOpenPanel {
  100% {
    left: 79%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes upgradeCrackerClose {
  0% {
    right: 21%
  }
  100% {
    right: 0%
  }
}
@keyframes upgradeCrackerClosePanel {
  0% {
    left: 79%
  }
  100% {
    left: 100%
  }
}

#isUpgradeCrackerOutYet {
  position: absolute;
}

.noVis {
  visibility: hidden;
}

.upgradeTable {
  position: relative;
  top: 1%;
  width: 90%;
  height: 10%;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  border: 2px grey solid;
  cursor: pointer;
}
.upgradeTableText {
  position: relative;
  top: 10%;
}
.upgradeTableObject {
  position: absolute;
  height: 90%;
  top: 63%;
  border: 15px grey solid;
  width: 30%;
  left: 50%;
  transform: translate(-50%);
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
}

.noBlur {
  color: black;
  text-shadow: 0 0 0;
}

.smallFont {
  font-size: 25px;
}
.bigFont {
  font-size: 65px;
}

@media screen and (orientation:portrait) {
  .moneyAndMPCBackground {
    position: absolute;
    width: 100%;
    height: 6vh;
    top: 9%
  }
}
@media screen and (orientation:landscape) {
  .moneyAndMPCBackground {
    position: absolute;
    width: 100%;
    height: 11vh;
    top: 10%;
  }
}

.moneyAndMPCBackground {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.785) 0% 0%,rgba(0, 0, 0, 0.47) 0% 100%);
}

.tributeTextDiv {
  height: 10vh;
  width: 100%;
  position: absolute
}

.tributeText {
  position: absolute;
  color:rgb(209, 176, 136);
  font-size: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}


@media screen and (orientation: landscape) {
    .cheese {
    position: relative;
    height: 60%;
    top: 20%;
  }
  .ham {
    position: relative;
    height: 60%;
    top: 20%;
  }
  .pepperoni {
    position: relative;
    height: 60%;
    top: 20%;
    left: 0%
  }

  .radiation {
    position: relative;
    height: 60%;
    top: 20%;
  }
  .sun {
    position: relative;
    height: 60%;
    top: 20%;
  }
  .blackHole {
    position: relative;
    height: 60%;
    top: 20%;
  }
  .gold {
    position: relative;
    height: 60%;
    top: 20%;
  }
}
@media screen and (orientation: portrait) {
  #toggleIconButton {
    display: none
  }
}

.noDis {
  display: none
}